:root {
  --ifm-color-primary: #19626b;
  --ifm-color-primary-dark: #175860;
  --ifm-color-primary-darker: #15535b;
  --ifm-color-primary-darkest: #12454b;
  --ifm-color-primary-light: #1c6c76;
  --ifm-color-primary-lighter: #1d717b;
  --ifm-color-primary-lightest: #217f8b;
}
